Repository haha321-haha/v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "components/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "messages/*.json": [
    "node -e \"JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))\""
  ]
}

fix: 修复 tool-structured-data.tsx 中 MEDICAL_ENTITIES 未定义错误
  lib/seo/tool-structured-data.tsx
Due: none

feat: 实施方案C - 合并Features和Quick Links Section
  app/[locale]/page.tsx
Due: eslint --fix, prettier --write

fix: 修复国际化内容显示问题
  app/[locale]/articles/[slug]/page.tsx
  app/feed-zh.xml/route.ts
  lib/articles.ts
Due: eslint --fix, prettier --write

refactor: 移除首页重复的 Trust Indicators，优化 SEO 和用户体验
  components/layout/HeroNew.tsx
Due: eslint --fix, prettier --write

feat: 添加音乐播放器和冥想计时器相关资源板块
  .gitignore
  app/[locale]/interactive-tools/stress-management/meditation-timer/page.tsx
  app/[locale]/interactive-tools/stress-management/music-player/page.tsx
  messages/en.json
  messages/zh.json
Due: eslint --fix, prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

fix: 修复数据管理页面面包屑导航重复首页问题
  app/[locale]/settings/data-management/page.tsx
Due: eslint --fix, prettier --write

fix: 修复体质测试页面下一题按钮无法点击问题
  app/[locale]/interactive-tools/components/ConstitutionTestTool.tsx
Due: eslint --fix, prettier --write

fix: 修复体质测试滑块题下一题按钮无法点击问题（深度修复）
  app/[locale]/interactive-tools/components/ConstitutionTestTool.tsx
Due: eslint --fix, prettier --write

fix: 修复下载弹窗自动关闭问题
  components/DownloadModal.tsx
Due: eslint --fix, prettier --write

fix: 修复定价页面UI和Lemon Squeezy环境变量读取问题
  app/[locale]/pricing/PricingPageClient.tsx
  app/api/lemonsqueezy/create-checkout/route.ts
  app/api/lemonsqueezy/webhook/route.ts
  messages/en.json
  messages/zh.json
Due: eslint --fix, prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

fix: 修复所有SEO配置问题
  app/[locale]/articles/when-to-seek-medical-care-comprehensive-guide/utils/seoOptimizer.ts
  app/[locale]/home-clean/page.tsx
  app/[locale]/interactive-tools/nutrition-recommendation-generator/page.tsx
  app/[locale]/interactive-tools/nutrition-recommendation-generator/utils/seo.ts
  app/[locale]/interactive-tools/stress-management/assessment/page.tsx
  app/[locale]/pricing/layout.tsx
  app/[locale]/scenario-solutions/partnerCommunication/page.tsx
  lib/seo/page-seo.ts
  public/downloads/campus-emergency-checklist-en.html
  public/downloads/campus-emergency-checklist.html
  public/downloads/constitution-guide-en.html
  public/downloads/constitution-guide.html
  public/downloads/healthy-habits-checklist-en.html
  public/downloads/healthy-habits-checklist.html
  public/downloads/magnesium-gut-health-menstrual-pain-guide-en.html
  public/downloads/magnesium-gut-health-menstrual-pain-guide.html
  public/downloads/menstrual-cycle-nutrition-plan-en.html
  public/downloads/menstrual-cycle-nutrition-plan.html
  public/downloads/menstrual-pain-complications-management-en.html
  public/downloads/menstrual-pain-complications-management.html
  public/downloads/natural-therapy-assessment-en.html
  public/downloads/natural-therapy-assessment.html
  public/downloads/pain-guide-en.html
  public/downloads/pain-guide.html
  public/downloads/pain-tracking-form-en.html
  public/downloads/pain-tracking-form.html
  public/downloads/parent-communication-guide-en.html
  public/downloads/parent-communication-guide.html
  public/downloads/specific-menstrual-pain-management-guide-en.html
  public/downloads/specific-menstrual-pain-management-guide.html
  public/downloads/teacher-collaboration-handbook-en.html
  public/downloads/teacher-collaboration-handbook.html
  public/downloads/teacher-health-manual-en.html
  public/downloads/teacher-health-manual.html
  public/downloads/zhan-zhuang-baduanjin-illustrated-guide-en.html
  public/downloads/zhan-zhuang-baduanjin-illustrated-guide.html
Due: eslint --fix, prettier --write

fix: 修复 StressAssessmentWidget 组件 SSR 问题
  app/[locale]/interactive-tools/stress-management/page.tsx
Due: eslint --fix, prettier --write

fix: 修复包装器组件和医学实体引用问题
  app/[locale]/articles/comprehensive-medical-guide-to-dysmenorrhea/page.tsx
  app/[locale]/interactive-tools/stress-management/components/StressAssessmentWrapper.tsx
  app/[locale]/interactive-tools/stress-management/page.tsx
Due: eslint --fix, prettier --write

fix: 首页对比部分内容更新和进度条调整
  components/sections/ComparisonSection.tsx
  messages/en.json
  messages/zh.json
Due: eslint --fix, prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

style: 添加文件末尾换行符
  app/[locale]/interactive-tools/stress-management/components/StressAssessmentWrapper.tsx
Due: eslint --fix, prettier --write

fix: 修复 messages/zh.json 中的 JSON 格式错误
  messages/zh.json
Due: node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

style: 添加文件末尾换行符（StressAssessmentWrapper）
  app/[locale]/interactive-tools/stress-management/components/StressAssessmentWrapper.tsx
Due: eslint --fix, prettier --write

拼图图片
  public/images/comparison-vs.png
Due: none

fix: 更新 en.json 中顶级的 comparison 部分
  messages/en.json
Due: node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

fix: 更新 zh.json 中顶级的 comparison 部分
  messages/zh.json
Due: node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

fix: 修复呼吸组件和场景页面相关问题
  app/[locale]/articles/[slug]/page.tsx
  app/[locale]/interactive-tools/stress-management/components/PersonalizedRecommendations.tsx
  app/[locale]/interactive-tools/stress-management/components/StressManagementRecommendations.tsx
  app/[locale]/scenario-solutions/page.tsx
  lib/articles.ts
  messages/en.json
  messages/zh.json
Due: eslint --fix, prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1], 'utf8'))"

fix: 修复压力管理页面相关问题
  app/[locale]/interactive-tools/stress-management/assessment/start/page.tsx
  components/StressAssessmentWidget.tsx
Due: eslint --fix, prettier --write

fix: 修复3个结构化数据相关问题
  app/[locale]/downloads/medication-guide/page.tsx
  lib/seo/home-structured-data.ts
  lib/seo/medical-schema-generator.ts
Due: eslint --fix, prettier --write

fix: 移除药物指南页面结构化数据中的无效 about 字段
  app/[locale]/downloads/medication-guide/page.tsx
Due: eslint --fix, prettier --write

fix: 元描述修复、Next.js升级和格式修复
  app/[locale]/interactive-tools/stress-management/components/StressAssessmentWrapper.tsx
  package-lock.json
  package.json
  public/downloads/constitution-guide.html
Due: eslint --fix, prettier --write

docs: 添加 GitHub Actions CI/CD 工作流验证报告
  CI_WORKFLOW_VERIFICATION_REPORT.md
Due: none

feat: 添加 symptom-tracker 到 pain-tracker 的 301 重定向
  app/[locale]/interactive-tools/[tool]/page.tsx
  app/[locale]/interactive-tools/period-pain-assessment/components/QuickNavigationSection.tsx
  lib/canonical-config.ts
  middleware.ts
Due: eslint --fix, prettier --write

refactor: 清理 symptom-tracker 相关代码
  app/[locale]/interactive-tools/components/SymptomTrackerTool.tsx
  app/[locale]/interactive-tools/shared/components/LazyToolComponents.tsx
Due: eslint --fix, prettier --write

chore: 添加 CI/CD 检测脚本
  scripts/detect-hardcode.js
  scripts/detect-stress-management-hardcode.js
  scripts/verify-translation-sync.js
Due: none

fix: 代码修复和优化
  app/[locale]/admin/aeo-dashboard/layout.tsx
  app/[locale]/articles/pain-management/understanding-dysmenorrhea/page.tsx
  app/[locale]/interactive-tools/components/ConstitutionTestTool.tsx
  app/[locale]/interactive-tools/nutrition-recommendation-generator/page.tsx
  app/[locale]/interactive-tools/stress-management/assessment/start/layout.tsx
  app/[locale]/interactive-tools/stress-management/progress/add/layout.tsx
  app/[locale]/interactive-tools/stress-management/progress/debug/layout.tsx
  app/[locale]/interactive-tools/workplace-wellness/data/emotion-forecast-content.ts
  app/[locale]/interactive-tools/workplace-wellness/hooks/useBodyBattery.ts
  app/[locale]/page.tsx
  app/[locale]/scenario-solutions/page.tsx
  app/[locale]/settings/data-management/page.tsx
  components/DownloadModal.tsx
  components/FirstWeekActivation.tsx
  components/ImprovedWelcomeOnboarding.tsx
  components/layout/HeroNew.tsx
  components/sections/StatsSection.tsx
  lib/seo/home-structured-data.ts
Due: eslint --fix, prettier --write
